@use '../util' as u;

html {
      box-sizing: border-box;
      font-size: 100%;
}

*,
*::before,
*::after {
      box-sizing: inherit;
}

body {
      margin: 0;
      padding: 0;
      font-family: u.$font;
      background-color: var(--background-color);
      color: var(--color);
}

button {
      background: var(--nav-btn-color);
      border: none;
      border-radius: u.rem(5);
      margin: u.rem(10) u.rem(0);
      
      color: var(--color);
      cursor: pointer;
}